# Descriptive Statistics Problems

## Exercise 1 – How long are movie titles?

In this exercise, you will apply descriptive statistics techniques to a real dataset: a database of 1000 popular movies from the IMDb website.

From the title of each movie, you will:
- Calculate the title length (in characters).
- Obtain key statistical metrics: mean, median, mode, range, variance, standard deviation, skewness, and kurtosis.
- Identify the longest and shortest titles.
- Visualize the distribution of these lengths with a histogram and a density curve.

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import skew, kurtosis, mode

# Load IMDb dataset
url = "../assets/imdb_1000.csv"
df = pd.read_csv(url)
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
# Create a new colum with title length
df["title_length"]=df["title"].str.len()
df.head()

,star_rating,title,content_rating,genre,duration,actors_list,title_length
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",24
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",13
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",22
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",15
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",12

In [22]:
# Calculate mean, median, and mode of the 'title_length' column

# Mean
title_length_mean=df["title_length"].mean()
# Median
title_length_median=df["title_length"].median()
# Mode
title_length_mode=df["title_length"].mode()

print("Title length mean is: " + str(title_length_mean))
print("Title length median is: " + str(title_length_median))
print("Title length mode is: " + str(title_length_mode[0]))

Title length mean is: 15.481103166496425
Title length median is: 14.0
Title length mode is: 12

In [21]:
# Calculate the range, variance, and standard deviation of 'title_length'

# Min and Max
title_length_min=df["title_length"].min()
title_length_max=df["title_length"].max()

# Range
title_length_range=title_length_max-title_length_min

#Variance
title_length_var=df["title_length"].var()

# Standard deviation
title_length_std=df["title_length"].std()

print("Title length range is: " + str(title_length_range))
print("Title length variance is: " + str(title_length_var))
print("Title length standard deviation is: " + str(title_length_std))

Title length range is: 67
Title length variance is: 72.1067488840288
Title length standard deviation is: 8.491569282766807

In [ ]:
# Calculate skewness and kurtosis of the 'title_length' column

In [ ]:
# Print the shortest and longest title based on their length

In [ ]:
# plot your results

---

## Exercise 2 – Manual Calculation of Standard Deviation

In this exercise, you will manually calculate the standard deviation by selecting five actual titles from the movie dataset you loaded earlier.

In [ ]:
# Create a list with 5 actual values from df['title_length'], for example: [10, 13, 14, 18, 22]

In [ ]:
# Calculate the mean of the 5 values

In [ ]:
# Calculate the squared differences with respect to the mean

In [ ]:
# Calculate the variance (average of the squared differences) and its square root to obtain the standard deviation